.feed {
  background-color: #fafafa;
  padding: 30px 0;
}

.feed-container {
  max-width: 614px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 614px) {
  .feed-container {
    padding: 0;
  }
}


